html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.cond-fields > div {
  margin-bottom: 0.5rem;
}

.cond-wrap {
  width: calc(100% - 4px);
  margin: auto;
}